@let book = (book$ | async);

<h6>{{ book?.title }}</h6>

<div class="book-detail-content">
  @defer (on timer(1s)) {
    <img src="no_cover.jpg" *ngIf="isFromApi === 1">

    <img *ngIf="isFromApi !== 1" [src]="book?.imgUrl">
  }
  @placeholder {
    <img src="book-default.png">
  }
  @loading (minimum 1s) {
    <span>Cargando portada...</span>
  }

  <div class="book-detail-content-info">
    <div class="book-detail-content-info-row">
      <p>Descripcion</p>

      <p>{{ book?.description }}</p>
    </div>

    <div class="book-detail-content-info-row">
      <p>No Paginas</p>

      <p>{{ book?.pageCount }}</p>
    </div>

    <div class="book-detail-content-info-row">
      <p>Publicacion</p>

      <p>{{ book?.publishDate | date: 'dd/MM/yyyy' }}</p>
    </div>
  </div>
</div>

<div class="book-detail-actions">
  <button mat-flat-button cdkFocusInitial (click)="goToBooks()">VOLVER</button>
</div>